@import url("https://fonts.googleapis.com/css2?family=Combo&family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  padding: 5vh;
}

body header {
  font-size: 50px;
  font-weight: 1000;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5vh;
  width: 100%;
}

/* scores section */

.scores-section {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.scores-section div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
}

.scores-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  list-style: none;
  border: 2px solid rgb(0, 0, 0);
}

/* add score section */

.add-score-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
}

.add-score-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-score-section form input {
  width: 30vh;
  padding: 5px 5px 5px 10px;
  margin: 10px;
}

.add-score-section form button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  margin: 3vh 1vh 0 0;
  width: 10vh;
  height: 3vh;
}
